<a id="{{ slotId }}" data-toggle="modal" data-target="#reserve-modal" class="container listing-item">
    <div class="col-xs-4 formcol-height formcol-1ab">
        <span class="formcol-1a">{{ className }}</span><br/>
        <span class="formcol-1b">{{ spotsRemaining }} Spots</span>
    </div>
    <div class="listing-item-room-gym">
        <div class="col-xs-4 formcol-height formcol-2ab">
            <span class="formcol-2a">{{ roomName }}</span><br/>
            <span class="formcol-2b">{{ gymName }}</span>
        </div>
    </div>
    <div class="col-xs-4 formcol-height">
        <div class="listing-item-time-range">
            <span class="formcol-3">{{ startTime }}-{{ endTime }}</span>
        </div>
    </div>
</a>
