<div class="date-placeholder {% if active %}date-active{% endif %}"
     data-parse-date="{{ parse_date }}" data-pos="{{ pos }}" data-full-date="{{ full_date }}">
    <div class="date-cal-frame">
        <div class="date-cal">{{ day }}</div>
        <div class="date-day">{{ day_abbr }}</div>
    </div>
</div>