<div>
    <div class="c100 c100-{{ percColor }} p{{ perc }} land-room-occupied-spots-wrap" data-class-id="{{ roomId }}">
        <span class="land-room-occupied-spots">{{ occupiedSpots }}</span>
        <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
        </div>
    </div>
    <div class="gymname">{{ roomName }}</div>
</div>
