{% extends 'base.twig' %}

{% block extra_css %}
    <link href="{{ site.css_path }}/login.css" rel="stylesheet">
{% endblock extra_css %}

{% block extra_footer_js %}
    <script id="university-item-template" type="text/x-twig-template">
        {{ source('./partials/form-university-item.twig') }}
    </script>
    <script id="gym-item-template" type="text/x-twig-template">
        {{ source('./partials/form-gym-item.twig') }}
    </script>
    <script src="{{ site.js_path }}/login.js"></script>
{% endblock extra_footer_js %}

{% block content %}
<div class="login-wrap">
    <section class="login">
        <div class="login-body">
            <h3>LOGIN</h3>

            <div class="col-xs-12">
                <div class="col-xs-8 col-xs-offset-2 facebook" style="float: none; margin: 0 auto; padding: 0;">
                    <button class="btn btn-primary btn-block btn-lg">FACEBOOK</button>
                </div>
            {# removed for beta
                <div class="col-xs-5 twitter">
                    <button class="btn btn-danger btn-block btn-lg">TWITTER</button>
                </div>
            #}
            </div>
            <div class="col-xs-12">
                <h3 style="margin-bottom:.5em">OR</h3>
                <form role="form" id="login-form">
                    <div class="formframe form-group login-form-group col-xs-10 col-xs-offset-1">
                        <input type="text" name="username" class="form-control" id="InputName signup-input"
                               placeholder="Username or Email" autocomplete="off" autocapitalize="off" autocorrect="off" />
                        <div>
                            <input type="password" name="password" class="formcontact form-control"
                                   id="signup-input InputEmail" placeholder="Password" autocomplete="off" />

                            <div class="col-xs-1 col-xs-push-9 col-sm-1 col-sm-push-10 col-md-1 col-md-push-10">
                                <a data-toggle="modal" class="signup-modal" data-target="#signup-forgot"><span
                                            style="position: absolute; z-index: 99; margin-top: -45px; color:#5abbcb"
                                            class="forgot">FORGOT</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1 col-md-5 col-md-offset-1 login-btn-wrap">
                        <button class="btn btn-primary btn-block btn-lg" type="submit" name="submit">
                            <strong>LOGIN</strong>
                        </button>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1 col-md-5 signup">
                        <a data-toggle="modal" class="signup-modal" id="registrationid" data-target="#signup-modal">
                            <button class="btn btn-danger btn-block btn-lg"><strong>SIGN UP NOW</strong></button>
                        </a>
                    </div>
                    <div class="clear"></div>
                </form>
            </div>
    </section>

    <div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="col-xs-8 col-xs-offset-2" style="margin-bottom:2%">
        <h3 class="modal-title">SIGN UP</h3>
    </div>
    <div class="col-xs-1">
        <center>
            <a data-dismiss="modal">
                <i style="font-size:2em" class="fa fa-times modal-signup-button"></i>
            </a>
        </center>
    </div>
    <div class="col-xs-8 facebook" style="padding:0; margin: 0 auto; float: none;">
        <button class="btn btn-primary btn-block btn-lg" name="facebook" id="facebooksignup"></a>FACEBOOK</button>
    </div>
    {# removed for beta
    <div class="col-xs-5 twitter">
        <button class="btn btn-danger btn-block btn-lg" name="twitter" id="twittersignup">TWITTER</button>
    </div>
    #}
    <div class="col-xs-12">
        <h3 style="margin-bottom:.5em">OR</h3>
    </div>

<div class="registration-form-wrap col-xs-12">
    <form role="form" id="registration-form">

    <div class="accordion col-xs-12" id="accordion1">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo">
                    <div id="radioformset">
                        <label class="radioform" name="university">
                            <input type="radio" style="height:54px;" data-label="University" />
                            <span class="group-label">University</span>
                        </label>
                    </div>
                </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse col-xs-12">
                <div class="accordion-inner" id="university-items">
                    <!-- populated via js -->
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-6" style="padding-right:2px">
        <input type="text" class="formcontact form-control" id="inputFname signup-input" name="firstname"
               placeholder="First Name" autocomplete="off" />
    </div>
    <div class="col-xs-6" style="padding-left:2px">
        <input type="text" class="formcontact form-control" id="inputLname signup-input" name="lastname"
               placeholder="Last Name" autocomplete="off" />
    </div>
    <div class="col-xs-6" style="padding-right:2px">
        <input type="text" name="email" class="formcontact form-control" id="inputEmail signup-input"
               placeholder="Email" autocomplete="off" />
    </div>
    <div class="col-xs-6" style="padding-left:2px">
        <input type="text" name="phone" class="formcontact form-control" id="inputPhone signup-input"
               placeholder="Phone" autocomplete="off" />
    </div>
    <div id="radioformset">
        <div class="col-xs-6" style="padding-right:2px">
            <label class="radioform">
                <input type="radio" name="sex" value="male" /><span>Male</span>
            </label>
        </div>
        <div class="col-xs-6" style="padding-left:2px">
            <label class="radioform">
                <input type="radio" name="sex" value="female" /><span>Female</span>
            </label>
        </div>
    </div>

    <div class="formframe form-group col-xs-12">
        <div class="radioformset" style="margin-bottom:10px" id="accordion4" role="tablist" aria-multiselectable="false">
            <!-- Profile-->
            <div id="radioformset" style="background-color:#000">
                <a data-toggle="collapse" data-parent="#accordion4" href="#collapseFour" aria-expanded="true"
                   aria-controls="collapseFour">
                    <div class="radioform" style="height:54px" name="memberType" role="tab" id="inputMtype headingOne">
                        <label style="cursor: pointer;"><span class="group-label">Member Type</span></label>
                    </div>
                </a>

                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div id="radioformset">
                            <div class="col-xs-12">
                                <label class="radioform">
                                    <input type="radio" name="memberType" value="Freshman" style="height:54px;"
                                           data-label="Freshman" />
                                    <span>Freshman</span>
                                </label>
                            </div>
                            <div class="col-xs-12">
                                <label class="radioform">
                                    <input type="radio" name="memberType" value="Sophomore" data-label="Sophomore" />
                                    <span>Sophomore</span>
                                </label>
                            </div>
                            <div class="col-xs-12">
                                <label class="radioform">
                                    <input type="radio" name="memberType" value="Junior" data-label="Junior" />
                                    <span>Junior</span>
                                </label>
                            </div>
                            <div class="col-xs-12">
                                <label class="radioform">
                                    <input type="radio" name="memberType" value="Senior" data-label="Senior" />
                                    <span>Senior</span>
                                </label>
                            </div>
                            <div class="col-xs-12">
                                <label class="radioform">
                                    <input type="radio" name="memberType" value="Graduate Student" data-label="Graduate Student" />
                                    <span>Graduate Student</span>
                                </label>
                            </div>
                            <div class="col-xs-12">
                                <label class="radioform">
                                    <input type="radio" name="memberType" value="Community Member" data-label="Community Member" />
                                    <span>Community Member</span>
                                </label>
                            </div>
                            <div class="col-xs-12">
                                <label class="radioform">
                                    <input type="radio" name="memberType" value="Staff" data-label="Staff" />
                                    <span>Staff</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="formframe form-group col-xs-12">
        <div class="radioformset" style="margin-bottom:10px" id="accordion2" role="tablist" aria-multiselectable="false">
            <div id="radioformset" style="background-color:#000">
                <a data-toggle="collapse" data-parent="#accordion2" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <div class="radioform" style="height:54px" role="tab" name="gymFrequency"
                         id="inputGfrequency headingOne">
                        <label style="cursor: pointer;"><span class="group-label">Gym Frequency</span></label>
                    </div>
                </a>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <div id="radioformset">
                            <div class="col-xs-12">
                                <label class="radioform">
                                    <input type="radio" name="gymFrequency" data-label="Never" value="Never" style="height:54px;" />
                                    <span>Never</span>
                                </label>
                            </div>
                            <div class="col-xs-12">
                                <label class="radioform">
                                    <input type="radio" name="gymFrequency" data-label="Sometimes" value="Sometimes" />
                                    <span>Sometimes</span>
                                </label>
                            </div>
                            <div class="col-xs-12">
                                <label class="radioform">
                                    <input type="radio" name="gymFrequency" data-label="Weekly" value="Weekly" />
                                    <span>Weekly</span>
                                </label>
                            </div>
                            <div class="col-xs-12">
                                <label class="radioform">
                                    <input type="radio" name="gymFrequency" data-label="Daily" value="Daily" />
                                    <span>Daily</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="formframe form-group col-xs-12">
        <input type="text" class="form-control" name="username" id="InputName signup-input"
               placeholder="Create Username" autocomplete="off" autocapitalize="off" autocorrect="off" />
    </div>
    <div class="formframe form-group col-xs-12">
        <input type="password" class="form-control" name="password" id="inputPassword signup-input"
               placeholder="Create Password" autocomplete="off" />
    </div>
    <div class="col-xs-12">
        <button class="btn btn-danger btn-block btn-lg" name="submit"><strong>SUBMIT</strong></button>
    </div>

    <div class="clear"></div>

    </form>
</div>

    <div class="col-xs-8 col-xs-offset-2" style="margin-top:2em; margin-bottom:2em">
        <center>By clicking the submit button, you are accepting our <a data-toggle="modal" class="signup-modal"
                                                                        data-target="#signup-terms"
                                                                        style="color:#5abbcb">terms</a>.
        </center>
    </div>
    </div>
    </div>
    </div>
    <div class="modal fade" id="signup-terms" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="col-sm-12" style="margin-bottom:2%">
                    <h3 class="modal-title">TERMS OF SERVICE</h3>
                </div>
                <div class="col-xs-1 col-xs-offset-11" style="position: absolute; z-index: 100;">
                    <center>
                        <a data-dismiss="modal">
                            <i class="fa fa-times modal-signup-button"></i>
                        </a>
                    </center>
                </div>
                <div class="col-xs-10 col-xs-offset-1" style="margin-top:1em">
                    {{ source('./partials/terms.html') }}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="signup-forgot" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="col-sm-12" style="margin-bottom:2%">
                    <h3 class="modal-title">PASSWORD</h3>
                </div>
                <div class="col-xs-1 col-xs-offset-11" style="position: absolute; z-index: 100;">
                    <center>
                        <a data-dismiss="modal">
                            <i class="fa fa-times modal-signup-button"></i>
                        </a>
                    </center>
                </div>
                <h4>Enter your e-mail address <br/>to reset your password</h4>

                <form role="form">
                    <div class="formframe form-group col-xs-10 col-xs-offset-1">
                        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                    <div class="col-xs-10 col-xs-offset-1 login">
                        <button class="btn btn-danger btn-block btn-lg" id="submit">
                            SUBMIT
                        </button>
                    </div>

                    <div class="clear"></div>

                </form>

                <div id="settings-modal-status-signup"></div>

            </div>
        </div>
    </div>

    {# disabled for beta
    <!--Search Modal -->
    <div class="modal fade" id="search-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="container">
                    <form role="form" style="margin-top:2em">
                        <div class="formframe form-group col-xs-8 col-xs-offset-1">
                            <input type="search" class="form-control" id="inputCollege" placeholder="Search">
                        </div>
                        <div class="col-xs-2">
                            <button data-dismiss="modal"
                                    style="color:#299eb6; background:none; border:none; height:2.2em">
                                <span class="hidden-xs" class="btn-search">CLOSE</span>
                                <span class="visible-xs" style="color:#fff"><i class="fa fa-times"></i></span>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="container" style="margin-top:4em">
                    <center style="margin-bottom:2em"><span
                                class="searchtitle">SEARCH UNIVERSITIES / COLLEGES</span></center><br/><br/>
                        <span class="searchtext" style="margin-top:1.5em">Find your University or College</span>
                </div>
            </div>
        </div>
    </div>
    <!--/Search Modal-->
    #}
    <div class="clear"></div>
</div>
{% endblock content %}
