<a id="{{ slotId }}"
    data-slot-id="{{ slotId }}"
    {% if classId %}data-class-id="{{ classId }}"{% endif %}
    {% if equipId %}data-equipment-id="{{ equipId }}"{% endif %}
    {% if myReservation %}data-reservation-id="{{ myReservation }}"{% endif %}
    class="container listing-item {% if myReservation %}listing-item-reserved{% endif %}">
    <div class="col-xs-3 formcol-height formcol-1ab">
        <span class="formcol-1a">{{ listingName }}</span><br/>
        {% if classId %}
            <span class="formcol-1b">{{ spotsRemaining }} Spots</span>
        {% endif %}
    </div>
    <div class="listing-item-room-gym col-xs-6 formcol-height formcol-2ab">
        <span class="formcol-2a">{{ roomName }}</span><br/>
        <span class="formcol-2b">{{ gymName }}</span>
    </div>
    <div class="col-xs-3 formcol-height">
        <div class="listing-item-time-range">
            <span class="formcol-3">{{ timeRange }}</span>
        </div>
    </div>
</a>