{% extends 'base.twig' %}

{% block extra_css %}
    <link href="{{ site.css_path }}/classes.css" rel="stylesheet">
{% endblock extra_css %}

{% block header %}
    {% include './partials/date-scroller-header.twig' with {'title': 'Equipment'} %}
{% endblock header %}

{% block content %}
<nav class="slide">
    <ul>
        <li style="margin-top:50px"></li>
        <li>
            <a data-toggle="modal" class="reserve-modal" data-target="#search-modal">
                <div style="width:40px; height:40px; float:left;">
                    <i class="fa fa-search"></i>
                </div>
                <span>Search</span>
            </a>
        </li>
        <li>
            <a href="/reservations/">
                <div style="width:40px; height:40px; float:left">
                    <i class="fa fa-book"></i>
                </div>
                <span>Reservations</span>
            </a>
        </li>
        <li>
            <a href="/classes/">
                <div style="width:40px; height:40px; float:left">
                    <i class="fa fa-users"></i>
                </div>
                <span>Classes</span>
            </a>
        </li>
        <li>
            <a href="/equipment/" class="active">
                <div style="width:40px; height:40px; float:left">
                    <i class="fa fa-bicycle"></i>
                </div>
                <span>Equipment</span>
            </a>
        </li>
        <li>
            <a data-toggle="modal" class="reserve-modal" data-target="#settings-modal">
                <div style="width:40px; height:40px; float:left">
                    <i class="fa fa-cog"></i>
                </div>
                <span>Settings</span>
            </a>
        </li>
    </ul>
</nav>

<!--Calendar-->
{% include './partials/date-scroller.twig' %}
<!--/Calendar-->

<!--Equipment Title-->
<section class="upace-title content slide" style="margin-bottom:.5em">
    <div class="container">
        <div class="col-xs-6 upace-title-main">
            <span style="color:#000; font-size:2em; bottom:0">Equipment</span>
        </div>
        <div class="col-xs-6 upace-title-sub" style="bottom:0; text-align:right;">
            <a data-toggle="modal" class="reserve-modal" data-target="#location-modal-equip">
                <span style="color:#299eb6;">ALL GYMS</span>
            </a>


        </div>
    </div>
</section>
<!--/Equipment Title-->

<!--Equipment-->
<section class="upace-form content slide collapse" id="collapse-add-time">
    <div class="container">
        <div class="col-xs-6 col-sm-7 formcol-height">
            <center><span class="formcol-1">Enter a Start Time</span></center>
        </div>
        <div class="col-xs-6 col-sm-5 formcol-height formcol-2ab">
            <form role="form">
                <div class="col-xs-12">
                    <input type="addTime" class="form-add-time" id="inputTime" placeholder="00:00 AM">
                </div>
            </form>
        </div>
    </div>
</section>
<section class="upace-form content slide">
    <div class="container">
        <a data-toggle="modal" class="reserve-modal" data-target="#reserve-modal">
            <div class="col-xs-4 formcol-height">
                <center><span class="formcol-1">Treadmill 27</span></center>
            </div>
        </a>

        <div class="col-xs-4 formcol-height formcol-2ab">
            <center><span class="formcol-2a">Blue Room</span></center>
            <center><span class="formcol-2b">HAMILTON</span></center>
        </div>
        <a data-toggle="modal" class="reserve-modal" data-target="#reserve-modal">
            <div class="col-xs-4 formcol-height">
                <center><span class="formcol-3">12:30-1:25PM</span></center>
            </div>
        </a>
    </div>
</section>
<section class="upace-form content slide">
    <div class="container">
        <a data-toggle="modal" class="reserve-modal" data-target="#reserve-modal">
            <div class="col-xs-4 formcol-height">
                <center><span class="formcol-1">Treadmill 30</span></center>
            </div>
        </a>

        <div class="col-xs-4 formcol-height formcol-2ab">
            <center><span class="formcol-2a">Blue Room</span></center>
            <center><span class="formcol-2b">HAMILTON</span></center>
        </div>
        <a data-toggle="modal" class="reserve-modal" data-target="#reserve-modal">
            <div class="col-xs-4 formcol-height">
                <center><span class="formcol-3">12:30-1:25PM</span></center>
            </div>
        </a>
    </div>
</section>
<section class="upace-form content slide">
    <div class="container">
        <a data-toggle="modal" class="reserve-modal" data-target="#reserve-modal">
            <div class="col-xs-4 formcol-height">
                <center><span class="formcol-1">Treadmill 11</span></center>
            </div>
        </a>

        <div class="col-xs-4 formcol-height formcol-2ab">
            <center><span class="formcol-2a">Blue Room</span></center>
            <center><span class="formcol-2b">HAMILTON</span></center>
        </div>
        <a data-toggle="modal" class="reserve-modal" data-target="#reserve-modal">
            <div class="col-xs-4 formcol-height">
                <center><span class="formcol-3">12:30-1:25PM</span></center>
            </div>
        </a>
    </div>
</section>
<section class="upace-form content slide">
    <div class="container">
        <a data-toggle="modal" class="reserve-modal" data-target="#reserve-modal">
            <div class="col-xs-4 formcol-height">
                <center><span class="formcol-1">Treadmill 32</span></center>
            </div>
        </a>

        <div class="col-xs-4 formcol-height formcol-2ab">
            <center><span class="formcol-2a">Blue Room</span></center>
            <center><span class="formcol-2b">HAMILTON</span></center>
        </div>
        <a data-toggle="modal" class="reserve-modal" data-target="#reserve-modal">
            <div class="col-xs-4 formcol-height">
                <center><span class="formcol-3">12:30-1:25PM</span></center>
            </div>
        </a>
    </div>
</section>
<section class="upace-form content slide">
    <div class="container">
        <a data-toggle="modal" class="reserve-modal" data-target="#reserve-modal">
            <div class="col-xs-4 formcol-height">
                <center><span class="formcol-1">Treadmill 5</span></center>
            </div>
        </a>

        <div class="col-xs-4 formcol-height formcol-2ab">
            <center><span class="formcol-2a">Blue Room</span></center>
            <center><span class="formcol-2b">HAMILTON</span></center>
        </div>
        <a data-toggle="modal" class="reserve-modal" data-target="#reserve-modal">
            <div class="col-xs-4 formcol-height">
                <center><span class="formcol-3">12:30-1:25PM</span></center>
            </div>
        </a>
    </div>
</section>
<!--/Equipment-->

<!--Footer Margin-->
<section class="footer-margin content slide">
</section>
<!--/Footer Margin-->

<!-- Navbar Bottom -->

<div class="navbar navbar-fixed-bottom" style="border:0">

    <section class="slide collapse" id="collapse-reserve">
        <div class="container-fluid">
            <a>
                <div class="col-xs-3 col-xs-offset-9"
                     style="background-color:#333;padding-top: .5em; padding-bottom: .5em; font-size:.5em">
                    <center><span>Multi Select Rows<span></center>
                </div>
            </a>
        </div>
        <div class="container-fluid">
            <a>
                <div class="col-xs-6 rowselect"
                     style="background-color:#4db2c7;padding-top: .5em; padding-bottom:.5em;">
                    <center><span>RESERVE ALL<span></center>
                </div>
            </a>
            <a>
                <div class="col-xs-6 rowselect" style="background-color:#f00;padding-top: .5em; padding-bottom: .5em;">
                    <center><span>CANCEL ALL<span></center>
                </div>
            </a>
        </div>
    </section>
    <div class="col-xs-3 navbar-icon">
        <a data-toggle="collapse" href="#collapse-add-time" aria-expanded="false" aria-controls="collapse-add-time">
            <center><i class="fa fa-clock-o navbar-text"></i></center>
        </a>
    </div>
    <div class="col-xs-3 navbar-icon">
        <a data-toggle="modal" class="reserve-modal" data-target="#location-modal">
            <center><i class="fa fa-sitemap navbar-text"></i></center>
        </a>
    </div>
    <div class="col-xs-3 navbar-icon">
        <a data-toggle="modal" class="reserve-modal" data-target="#available-modal">
            <center>
                <center><i class="fa fa-plus navbar-text"></i></center>
        </a>
    </div>
    <div class="col-xs-3 navbar-icon">
        <a data-toggle="collapse" href="#collapse-reserve" aria-expanded="false" aria-controls="collapse-reserve">
            <center><i class="fa fa-cogs navbar-text"></i></center>
        </a>
    </div>
</div>

<!-- /Navbar Bottom -->

<!-- Navbar Bottom Content -->

<!-- Available Times -->
<div class="modal fade" id="available-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<div class="col-xs-2" style="margin-bottom:2%">
</div>
<div class="col-xs-8" style="margin-bottom:2%">
    <center><span class="modal-title">AVAILABLE TIMES</span><br/></center>
</div>
<div class="col-xs-2">
    <center style="margin-bottom:2em"><a data-dismiss="modal" class="modal-reserve-button"><i
                    class="fa fa-times"></i></a></center>
</div>
<div role="tabpanel">

<!-- Nav tabs -->
<ul class="nav nav-tabs container" role="tablist" style="margin-bottom:2em; border:0">
    <li role="presentation" class="active col-xs-6">
        <center><a href="#classes" aria-controls="Classes" class="available-label" role="tab"
                   data-toggle="tab">Classes</a></center>
    </li>
    <li role="presentation" class="col-xs-6">
        <centeR><a href="#equipment" aria-controls="Equipment" class="available-label" role="tab" data-toggle="tab">Equipment</a>
        </center>
    </li>

</ul>
<!-- /Nav tabs -->

<!-- Tab panes -->
<div class="tab-content container" style="background:#d4f2fa; padding-top:.5em">
<!-- Time -->

<section class="upace-form content slide collapse row" id="collapse-add-time-modal">
    <div class="container">
        <div class="col-xs-6 col-sm-7 formcol-height">
            <center><span class="formcol-1">Enter a Start Time</span></center>
        </div>
        <div class="col-xs-6 col-sm-5 formcol-height formcol-2ab">
            <form role="form">
                <div class="col-xs-12">
                    <input type="addTime" class="form-add-time" id="inputTime" placeholder="00:00 AM">
                </div>
            </form>
        </div>
    </div>
</section>

<!-- /Time -->
<div role="tabpanel" class="col-xs-12 tab-pane fade in active" id="classes" style="margin-bottom:3em">
<ul>
<li>
    <section class="upace-form row">
        <a href="#">
            <div class="col-sm-3 hidden-xs formcol-height formcol-2ab">
                <center><span class="formcol-2a" style="color:#000">10/12</span></center>
                <center><span class="formcol-2a" style="color:#000">SUN</span></center>
            </div>
            <div class="col-sm-3 col-xs-4 formcol-height formcol-2ab">
                <center><span class="formcol-2a formcol-room" style="color:#000">Blue Room</span></center>
                <center><span class="formcol-2b formcol-gym" style="color:#000">HAMILTON</span></center>
            </div>
            <div class="col-sm-3 col-xs-4 formcol-height">
                <center><span class="formcol-3" style="color:#000">2 Spots</span></center>
            </div>
            <div class="col-sm-3 col-xs-4 formcol-height">
                <center><span class="formcol-3" style="color:#000">12:30-1:25PM</span></center>
            </div>
        </a>
    </section>
</li>
<li>
    <section class="upace-form row">
        <a href="#">
            <div class="col-sm-3 hidden-xs formcol-height formcol-2ab">
                <center><span class="formcol-2a" style="color:#000">10/12</span></center>
                <center><span class="formcol-2a" style="color:#000">SUN</span></center>
            </div>
            <div class="col-sm-3 col-xs-4 formcol-height formcol-2ab">
                <center><span class="formcol-2a formcol-room" style="color:#000">Blue Room</span></center>
                <center><span class="formcol-2b formcol-gym" style="color:#000">HAMILTON</span></center>
            </div>
            <div class="col-sm-3 col-xs-4 formcol-height">
                <center><span class="formcol-3" style="color:#000">2 Spots</span></center>
            </div>
            <div class="col-sm-3 col-xs-4 formcol-height">
                <center><span class="formcol-3" style="color:#000">12:30-1:25PM</span></center>
            </div>
        </a>
    </section>
</li>
<li>
    <section class="upace-form row">
        <a href="#">
            <div class="col-sm-3 hidden-xs formcol-height formcol-2ab">
                <center><span class="formcol-2a" style="color:#000">10/12</span></center>
                <center><span class="formcol-2a" style="color:#000">SUN</span></center>
            </div>
            <div class="col-sm-3 col-xs-4 formcol-height formcol-2ab">
                <center><span class="formcol-2a formcol-room" style="color:#000">Blue Room</span></center>
                <center><span class="formcol-2b formcol-gym" style="color:#000">HAMILTON</span></center>
            </div>
            <div class="col-sm-3 col-xs-4 formcol-height">
                <center><span class="formcol-3" style="color:#000">2 Spots</span></center>
            </div>
            <div class="col-sm-3 col-xs-4 formcol-height">
                <center><span class="formcol-3" style="color:#000">12:30-1:25PM</span></center>
            </div>
        </a>
    </section>
</li>
<li>
    <section class="upace-form row">
        <a href="#">
            <div class="col-sm-3 hidden-xs formcol-height formcol-2ab">
                <center><span class="formcol-2a" style="color:#000">10/12</span></center>
                <center><span class="formcol-2a" style="color:#000">SUN</span></center>
            </div>
            <div class="col-sm-3 col-xs-4 formcol-height formcol-2ab">
                <center><span class="formcol-2a formcol-room" style="color:#000">Blue Room</span></center>
                <center><span class="formcol-2b formcol-gym" style="color:#000">HAMILTON</span></center>
            </div>
            <div class="col-sm-3 col-xs-4 formcol-height">
                <center><span class="formcol-3" style="color:#000">2 Spots</span></center>
            </div>
            <div class="col-sm-3 col-xs-4 formcol-height">
                <center><span class="formcol-3" style="color:#000">12:30-1:25PM</span></center>
            </div>
        </a>
    </section>
</li>
<li>
    <section class="upace-form row">
        <a href="#">
            <div class="col-sm-3 hidden-xs formcol-height formcol-2ab">
                <center><span class="formcol-2a" style="color:#000">10/12</span></center>
                <center><span class="formcol-2a" style="color:#000">SUN</span></center>
            </div>
            <div class="col-sm-3 col-xs-4 formcol-height formcol-2ab">
                <center><span class="formcol-2a formcol-room" style="color:#000">Blue Room</span></center>
                <center><span class="formcol-2b formcol-gym" style="color:#000">HAMILTON</span></center>
            </div>
            <div class="col-sm-3 col-xs-4 formcol-height">
                <center><span class="formcol-3" style="color:#000">2 Spots</span></center>
            </div>
            <div class="col-sm-3 col-xs-4 formcol-height">
                <center><span class="formcol-3" style="color:#000">12:30-1:25PM</span></center>
            </div>
        </a>
    </section>
</li>
<li>
    <section class="upace-form row">
        <a href="#">
            <div class="col-sm-3 hidden-xs formcol-height formcol-2ab">
                <center><span class="formcol-2a" style="color:#000">10/12</span></center>
                <center><span class="formcol-2a" style="color:#000">SUN</span></center>
            </div>
            <div class="col-sm-3 col-xs-4 formcol-height formcol-2ab">
                <center><span class="formcol-2a formcol-room" style="color:#000">Blue Room</span></center>
                <center><span class="formcol-2b formcol-gym" style="color:#000">HAMILTON</span></center>
            </div>
            <div class="col-sm-3 col-xs-4 formcol-height">
                <center><span class="formcol-3" style="color:#000">2 Spots</span></center>
            </div>
            <div class="col-sm-3 col-xs-4 formcol-height">
                <center><span class="formcol-3" style="color:#000">12:30-1:25PM</span></center>
            </div>
        </a>
    </section>
</li>
<li>
    <section class="upace-form row">
        <a href="#">
            <div class="col-sm-3 hidden-xs formcol-height formcol-2ab">
                <center><span class="formcol-2a" style="color:#000">10/12</span></center>
                <center><span class="formcol-2a" style="color:#000">SUN</span></center>
            </div>
            <div class="col-sm-3 col-xs-4 formcol-height formcol-2ab">
                <center><span class="formcol-2a formcol-room" style="color:#000">Blue Room</span></center>
                <center><span class="formcol-2b formcol-gym" style="color:#000">HAMILTON</span></center>
            </div>
            <div class="col-sm-3 col-xs-4 formcol-height">
                <center><span class="formcol-3" style="color:#000">2 Spots</span></center>
            </div>
            <div class="col-sm-3 col-xs-4 formcol-height">
                <center><span class="formcol-3" style="color:#000">12:30-1:25PM</span></center>
            </div>
        </a>
    </section>
</li>
<li>
    <section class="upace-form row">
        <a href="#">
            <div class="col-sm-3 hidden-xs formcol-height formcol-2ab">
                <center><span class="formcol-2a" style="color:#000">10/12</span></center>
                <center><span class="formcol-2a" style="color:#000">SUN</span></center>
            </div>
            <div class="col-sm-3 col-xs-4 formcol-height formcol-2ab">
                <center><span class="formcol-2a formcol-room" style="color:#000">Blue Room</span></center>
                <center><span class="formcol-2b formcol-gym" style="color:#000">HAMILTON</span></center>
            </div>
            <div class="col-sm-3 col-xs-4 formcol-height">
                <center><span class="formcol-3" style="color:#000">2 Spots</span></center>
            </div>
            <div class="col-sm-3 col-xs-4 formcol-height">
                <center><span class="formcol-3" style="color:#000">12:30-1:25PM</span></center>
            </div>
        </a>
    </section>
</li>
<li>
    <section class="upace-form row">
        <a href="#">
            <div class="col-sm-3 hidden-xs formcol-height formcol-2ab">
                <center><span class="formcol-2a" style="color:#000">10/12</span></center>
                <center><span class="formcol-2a" style="color:#000">SUN</span></center>
            </div>
            <div class="col-sm-3 col-xs-4 formcol-height formcol-2ab">
                <center><span class="formcol-2a formcol-room" style="color:#000">Blue Room</span></center>
                <center><span class="formcol-2b formcol-gym" style="color:#000">HAMILTON</span></center>
            </div>
            <div class="col-sm-3 col-xs-4 formcol-height">
                <center><span class="formcol-3" style="color:#000">2 Spots</span></center>
            </div>
            <div class="col-sm-3 col-xs-4 formcol-height">
                <center><span class="formcol-3" style="color:#000">12:30-1:25PM</span></center>
            </div>
        </a>
    </section>
</li>
<li>
    <section class="upace-form row">
        <a href="#">
            <div class="col-sm-3 hidden-xs formcol-height formcol-2ab">
                <center><span class="formcol-2a" style="color:#000">10/12</span></center>
                <center><span class="formcol-2a" style="color:#000">SUN</span></center>
            </div>
            <div class="col-sm-3 col-xs-4 formcol-height formcol-2ab">
                <center><span class="formcol-2a formcol-room" style="color:#000">Blue Room</span></center>
                <center><span class="formcol-2b formcol-gym" style="color:#000">HAMILTON</span></center>
            </div>
            <div class="col-sm-3 col-xs-4 formcol-height">
                <center><span class="formcol-3" style="color:#000">2 Spots</span></center>
            </div>
            <div class="col-sm-3 col-xs-4 formcol-height">
                <center><span class="formcol-3" style="color:#000">12:30-1:25PM</span></center>
            </div>
        </a>
    </section>
</li>
<li>
    <section class="upace-form row">
        <a href="#">
            <div class="col-sm-3 hidden-xs formcol-height formcol-2ab">
                <center><span class="formcol-2a" style="color:#000">10/12</span></center>
                <center><span class="formcol-2a" style="color:#000">SUN</span></center>
            </div>
            <div class="col-sm-3 col-xs-4 formcol-height formcol-2ab">
                <center><span class="formcol-2a formcol-room" style="color:#000">Blue Room</span></center>
                <center><span class="formcol-2b formcol-gym" style="color:#000">HAMILTON</span></center>
            </div>
            <div class="col-sm-3 col-xs-4 formcol-height">
                <center><span class="formcol-3" style="color:#000">2 Spots</span></center>
            </div>
            <div class="col-sm-3 col-xs-4 formcol-height">
                <center><span class="formcol-3" style="color:#000">12:30-1:25PM</span></center>
            </div>
        </a>
    </section>
</li>
<li>
    <section class="upace-form row">
        <a href="#">
            <div class="col-sm-3 hidden-xs formcol-height formcol-2ab">
                <center><span class="formcol-2a" style="color:#000">10/12</span></center>
                <center><span class="formcol-2a" style="color:#000">SUN</span></center>
            </div>
            <div class="col-sm-3 col-xs-4 formcol-height formcol-2ab">
                <center><span class="formcol-2a formcol-room" style="color:#000">Blue Room</span></center>
                <center><span class="formcol-2b formcol-gym" style="color:#000">HAMILTON</span></center>
            </div>
            <div class="col-sm-3 col-xs-4 formcol-height">
                <center><span class="formcol-3" style="color:#000">2 Spots</span></center>
            </div>
            <div class="col-sm-3 col-xs-4 formcol-height">
                <center><span class="formcol-3" style="color:#000">12:30-1:25PM</span></center>
            </div>
        </a>
    </section>
</li>
<li>
    <section class="upace-form row">
        <a href="#">
            <div class="col-sm-3 hidden-xs formcol-height formcol-2ab">
                <center><span class="formcol-2a" style="color:#000">10/12</span></center>
                <center><span class="formcol-2a" style="color:#000">SUN</span></center>
            </div>
            <div class="col-sm-3 col-xs-4 formcol-height formcol-2ab">
                <center><span class="formcol-2a formcol-room" style="color:#000">Blue Room</span></center>
                <center><span class="formcol-2b formcol-gym" style="color:#000">HAMILTON</span></center>
            </div>
            <div class="col-sm-3 col-xs-4 formcol-height">
                <center><span class="formcol-3" style="color:#000">2 Spots</span></center>
            </div>
            <div class="col-sm-3 col-xs-4 formcol-height">
                <center><span class="formcol-3" style="color:#000">12:30-1:25PM</span></center>
            </div>
        </a>
    </section>
</li>
<li>
    <section class="upace-form row">
        <a href="#">
            <div class="col-sm-3 hidden-xs formcol-height formcol-2ab">
                <center><span class="formcol-2a" style="color:#000">10/12</span></center>
                <center><span class="formcol-2a" style="color:#000">SUN</span></center>
            </div>
            <div class="col-sm-3 col-xs-4 formcol-height formcol-2ab">
                <center><span class="formcol-2a formcol-room" style="color:#000">Blue Room</span></center>
                <center><span class="formcol-2b formcol-gym" style="color:#000">HAMILTON</span></center>
            </div>
            <div class="col-sm-3 col-xs-4 formcol-height">
                <center><span class="formcol-3" style="color:#000">2 Spots</span></center>
            </div>
            <div class="col-sm-3 col-xs-4 formcol-height">
                <center><span class="formcol-3" style="color:#000">12:30-1:25PM</span></center>
            </div>
        </a>
    </section>
</li>
<li>
    <section class="upace-form row">
        <a href="#">
            <div class="col-sm-3 hidden-xs formcol-height formcol-2ab">
                <center><span class="formcol-2a" style="color:#000">10/12</span></center>
                <center><span class="formcol-2a" style="color:#000">SUN</span></center>
            </div>
            <div class="col-sm-3 col-xs-4 formcol-height formcol-2ab">
                <center><span class="formcol-2a formcol-room" style="color:#000">Blue Room</span></center>
                <center><span class="formcol-2b formcol-gym" style="color:#000">HAMILTON</span></center>
            </div>
            <div class="col-sm-3 col-xs-4 formcol-height">
                <center><span class="formcol-3" style="color:#000">2 Spots</span></center>
            </div>
            <div class="col-sm-3 col-xs-4 formcol-height">
                <center><span class="formcol-3" style="color:#000">12:30-1:25PM</span></center>
            </div>
        </a>
    </section>
</li>
</ul>
</div>
<div role="tabpanel" class="col-xs-12 tab-pane fade" id="equipment" style="margin-bottom:3em">
    <ul>
        <li>
            <section class="upace-form row">
                <a href="#">
                    <div class="col-sm-3 hidden-xs formcol-height formcol-2ab">
                        <center><span class="formcol-2a" style="color:#000">10/12</span></center>
                        <center><span class="formcol-2a" style="color:#000">SUN</span></center>
                    </div>
                    <div class="col-sm-3 col-xs-4 formcol-height formcol-2ab">
                        <center><span class="formcol-2a formcol-room" style="color:#000">Blue Room</span></center>
                        <center><span class="formcol-2b formcol-gym" style="color:#000">HAMILTON</span></center>
                    </div>
                    <div class="col-sm-3 col-xs-4 formcol-height">
                        <center><span class="formcol-3" style="color:#000">2 Spots</span></center>
                    </div>
                    <div class="col-sm-3 col-xs-4 formcol-height">
                        <center><span class="formcol-3" style="color:#000">12:30-1:25PM</span></center>
                    </div>
                </a>
            </section>
        </li>
        <li>
            <section class="upace-form row">
                <a href="#">
                    <div class="col-sm-3 hidden-xs formcol-height formcol-2ab">
                        <center><span class="formcol-2a" style="color:#000">10/12</span></center>
                        <center><span class="formcol-2a" style="color:#000">SUN</span></center>
                    </div>
                    <div class="col-sm-3 col-xs-4 formcol-height formcol-2ab">
                        <center><span class="formcol-2a formcol-room" style="color:#000">Blue Room</span></center>
                        <center><span class="formcol-2b formcol-gym" style="color:#000">HAMILTON</span></center>
                    </div>
                    <div class="col-sm-3 col-xs-4 formcol-height">
                        <center><span class="formcol-3" style="color:#000">2 Spots</span></center>
                    </div>
                    <div class="col-sm-3 col-xs-4 formcol-height">
                        <center><span class="formcol-3" style="color:#000">12:30-1:25PM</span></center>
                    </div>
                </a>
            </section>
        </li>
        <li>
            <section class="upace-form row">
                <a href="#">
                    <div class="col-sm-3 hidden-xs formcol-height formcol-2ab">
                        <center><span class="formcol-2a" style="color:#000">10/12</span></center>
                        <center><span class="formcol-2a" style="color:#000">SUN</span></center>
                    </div>
                    <div class="col-sm-3 col-xs-4 formcol-height formcol-2ab">
                        <center><span class="formcol-2a formcol-room" style="color:#000">Blue Room</span></center>
                        <center><span class="formcol-2b formcol-gym" style="color:#000">HAMILTON</span></center>
                    </div>
                    <div class="col-sm-3 col-xs-4 formcol-height">
                        <center><span class="formcol-3" style="color:#000">2 Spots</span></center>
                    </div>
                    <div class="col-sm-3 col-xs-4 formcol-height">
                        <center><span class="formcol-3" style="color:#000">12:30-1:25PM</span></center>
                    </div>
                </a>
            </section>
        </li>
        <li>
            <section class="upace-form row">
                <a href="#">
                    <div class="col-sm-3 hidden-xs formcol-height formcol-2ab">
                        <center><span class="formcol-2a" style="color:#000">10/12</span></center>
                        <center><span class="formcol-2a" style="color:#000">SUN</span></center>
                    </div>
                    <div class="col-sm-3 col-xs-4 formcol-height formcol-2ab">
                        <center><span class="formcol-2a formcol-room" style="color:#000">Blue Room</span></center>
                        <center><span class="formcol-2b formcol-gym" style="color:#000">HAMILTON</span></center>
                    </div>
                    <div class="col-sm-3 col-xs-4 formcol-height">
                        <center><span class="formcol-3" style="color:#000">2 Spots</span></center>
                    </div>
                    <div class="col-sm-3 col-xs-4 formcol-height">
                        <center><span class="formcol-3" style="color:#000">12:30-1:25PM</span></center>
                    </div>
                </a>
            </section>
        </li>
        <li>
            <section class="upace-form row">
                <a href="#">
                    <div class="col-sm-3 hidden-xs formcol-height formcol-2ab">
                        <center><span class="formcol-2a" style="color:#000">10/12</span></center>
                        <center><span class="formcol-2a" style="color:#000">SUN</span></center>
                    </div>
                    <div class="col-sm-3 col-xs-4 formcol-height formcol-2ab">
                        <center><span class="formcol-2a formcol-room" style="color:#000">Blue Room</span></center>
                        <center><span class="formcol-2b formcol-gym" style="color:#000">HAMILTON</span></center>
                    </div>
                    <div class="col-sm-3 col-xs-4 formcol-height">
                        <center><span class="formcol-3" style="color:#000">2 Spots</span></center>
                    </div>
                    <div class="col-sm-3 col-xs-4 formcol-height">
                        <center><span class="formcol-3" style="color:#000">12:30-1:25PM</span></center>
                    </div>
                </a>
            </section>
        </li>
    </ul>
</div>
</div>
<!-- /Tab panes -->
</div>
</div>
</div>
</div>
<div class="navbar navbar-fixed-bottom " style="border:0">
    <section class="slide collapse" id="collapse-reserve-modal">
        <div class="container-fluid">
            <a>
                <div class="col-xs-3 col-xs-offset-9"
                     style="background-color:#333;padding-top: .5em; padding-bottom: .5em; font-size:.5em">
                    <center><span>Multi Select Rows<span></center>
                </div>
            </a>
        </div>
        <div class="container-fluid">
            <a>
                <div class="col-xs-6 rowselect"
                     style="background-color:#4db2c7;padding-top: .5em; padding-bottom:.5em;">
                    <center><span>RESERVE ALL<span></center>
                </div>
            </a>
            <a>
                <div class="col-xs-6 rowselect" style="background-color:#f00;padding-top: .5em; padding-bottom: .5em;">
                    <center><span>CANCEL ALL<span></center>
                </div>
            </a>
        </div>
    </section>

    <div class="col-xs-4 navbar-icon">
        <a data-toggle="collapse" href="#collapse-add-time-modal" aria-expanded="false"
           aria-controls="collapse-add-time">
            <center><i class="fa fa-clock-o navbar-text"></i></center>
        </a>
    </div>
    <div class="col-xs-4 navbar-icon">
        <a data-toggle="modal" class="reserve-modal" data-target="#location-modal">
            <center><i class="fa fa-sitemap navbar-text"></i></center>
        </a>
    </div>
    <div class="col-xs-4 navbar-icon">
        <a data-toggle="collapse" href="#collapse-reserve-modal" aria-expanded="false"
           aria-controls="collapse-reserve-modal">
            <center>
                <i class="fa fa-cogs navbar-text"></i>
            </center>
        </a>
    </div>
</div>
</div>
<!-- /Available Times -->

<!-- Locations -->
<div class="modal fade" id="location-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="col-xs-2" style="margin-bottom:2%">
            </div>
            <div class="col-xs-8" style="margin-bottom:2%">
                <center><span class="modal-title">Gyms</span><br/></center>
            </div>
            <div class="col-xs-2">
                <center style="margin-bottom:2em"><a data-dismiss="modal" class="modal-reserve-button"><i
                                class="fa fa-times"></i></a></center>
            </div>

            <div class="col-sm-6 col-sm-offset-3 location-gyms" style="margin-top:4em">
                <center><span class="modal-title">HAMILTON</span></center>
            </div>

            <div class="col-sm-6 col-sm-offset-3 location-gyms">
                <center><span class="modal-title">HAMILTON</span></center>
            </div>

            <div class="col-sm-6 col-sm-offset-3 location-gyms">
                <center><span class="modal-title">HAMILTON</span></center>
            </div>

            <div class="col-sm-6 col-sm-offset-3 location-gyms">
                <center><span class="modal-title">HAMILTON</span></center>
            </div>

            <div class="col-sm-6 col-sm-offset-3 location-gyms">
                <center><span class="modal-title">HAMILTON</span></center>
            </div>
        </div>
    </div>
</div>
<!-- /Locations -->


<!-- /Navbar Bottom Content -->

<!-- Reserve Modal -->

<div class="modal fade" id="reserve-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-xs-8 col-sm-6 col-lg-8" style="margin-bottom:2%">
                    <span class="modal-title">Treadmill 27</span><br/>
                    <span class="modal-title-body">Blue Room | Hamilton</span><br/>
                    <span class="modal-title-body">FRI 10/10 | 12:30-1:25PM</span><br/>
                    <span style="color: #fdd400;" class="modal-title-body">CURRENT STATUS: 2 SPOTS</span><br/><br/>
                    <span style="margin-top:1em" class="modal-title-body">Candy canes pudding halvah marzipan biscuit tiramisu tart apple pie. Sugar plum pudding marzipan ice cream. Sugar plum apple pie tiramisu powder lollipop chupa chups. Donut chocolate bar dessert croissant bonbon tiramisu gummies powder.</span><br/><br/>
                </div>


                <div class="col-xs-1 col-xs-offset-2 col-sm-1 col-sm-offset-5 col-lg-1 col-lg-offset-3">
                    <center style="margin-bottom:2em"><a data-dismiss="modal" class="modal-reserve-button"><i
                                    class="fa fa-times"></i></a></center>

                    <center><a data-toggle="modal" class="reserve-modal modal-reserve-button"
                               data-target="#share-modal"><i class="fa fa-share-alt"></center>
                    </a></i>
                </div>
                <div class="container-fluid">
                    <div class="col-xs-12">
                        <button class="btn btn-primary btn-block btn-lg" data-dismiss="modal" style="margin-bottom:5%">
                            Reserve Class
                        </button>
                    </div>
                </div>
                <div class="upace-reserve-pick col-xs-12">
                    <section class="upace-title row" style="margin-bottom:.5em">
                        <div class="container">
                            <div class="col-xs-4 upace-title-main" style="padding-top:0;">
                                <span style="color:#000;">Additional Equipment Times</span>
                            </div>
                            <div class="col-xs-4 col-xs-offset-4 upace-title-sub"
                                 style="padding-top:0; text-align:right;">
                                <a data-toggle="modal" class="reserve-modal" data-target="#location-modal-equip"
                                   style="color:#299eb6">
                                    <span>ALL GYMS</span>
                                </a>
                            </div>
                        </div>
                    </section>
                    <!--Add Time Modal -->
                    <section class="upace-form content slide collapse row" id="collapse-add-time-modal-equip">
                        <div class="container-fluid">
                            <div class="col-xs-6 col-sm-7 formcol-height">
                                <center><span class="formcol-1">Enter a Start Time</span></center>
                            </div>
                            <div class="col-xs-6 col-sm-5 formcol-height formcol-2ab">
                                <form role="form">
                                    <div class="col-xs-12">
                                        <input type="addTime" class="form-add-time" id="inputTime"
                                               placeholder="00:00 AM">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </section>
                    <!-- /Add Time Modal -->
                    <section class="upace-form row">
                        <a href="#">
                            <div class="col-sm-3 hidden-xs formcol-height formcol-2ab">
                                <center><span class="formcol-2a" style="color:#000">10/12</span></center>
                                <center><span class="formcol-2a" style="color:#000">SUN</span></center>
                            </div>
                            <div class="col-sm-3 col-xs-4 formcol-height formcol-2ab">
                                <center><span class="formcol-2a formcol-room" style="color:#000">Blue Room</span>
                                </center>
                                <center><span class="formcol-2b formcol-gym" style="color:#000">HAMILTON</span></center>
                            </div>
                            <div class="col-sm-3 col-xs-4 formcol-height">
                                <center><span class="formcol-3" style="color:#000">2 Spots</span></center>
                            </div>
                            <div class="col-sm-3 col-xs-4 formcol-height">
                                <center><span class="formcol-3" style="color:#000">12:30-1:25PM</span></center>
                            </div>
                        </a>
                    </section>
                    <section class="upace-form row">
                        <a href="#">
                            <div class="col-sm-3 hidden-xs formcol-height formcol-2ab">
                                <center><span class="formcol-2a" style="color:#000">10/12</span></center>
                                <center><span class="formcol-2a" style="color:#000">SUN</span></center>
                            </div>
                            <div class="col-sm-3 col-xs-4 formcol-height formcol-2ab">
                                <center><span class="formcol-2a formcol-room" style="color:#000">Blue Room</span>
                                </center>
                                <center><span class="formcol-2b formcol-gym" style="color:#000">HAMILTON</span></center>
                            </div>
                            <div class="col-sm-3 col-xs-4 formcol-height">
                                <center><span class="formcol-3" style="color:#000">2 Spots</span></center>
                            </div>
                            <div class="col-sm-3 col-xs-4 formcol-height">
                                <center><span class="formcol-3" style="color:#000">12:30-1:25PM</span></center>
                            </div>
                        </a>
                    </section>
                    <section class="upace-form row">
                        <a href="#">
                            <div class="col-sm-3 hidden-xs formcol-height formcol-2ab">
                                <center><span class="formcol-2a" style="color:#000">10/12</span></center>
                                <center><span class="formcol-2a" style="color:#000">SUN</span></center>
                            </div>
                            <div class="col-sm-3 col-xs-4 formcol-height formcol-2ab">
                                <center><span class="formcol-2a formcol-room" style="color:#000">Blue Room</span>
                                </center>
                                <center><span class="formcol-2b formcol-gym" style="color:#000">HAMILTON</span></center>
                            </div>
                            <div class="col-sm-3 col-xs-4 formcol-height">
                                <center><span class="formcol-3" style="color:#000">2 Spots</span></center>
                            </div>
                            <div class="col-sm-3 col-xs-4 formcol-height">
                                <center><span class="formcol-3" style="color:#000">12:30-1:25PM</span></center>
                            </div>
                        </a>
                    </section>
                    <section class="upace-form row">
                        <a href="#">
                            <div class="col-sm-3 hidden-xs formcol-height formcol-2ab">
                                <center><span class="formcol-2a" style="color:#000">10/12</span></center>
                                <center><span class="formcol-2a" style="color:#000">SUN</span></center>
                            </div>
                            <div class="col-sm-3 col-xs-4 formcol-height formcol-2ab">
                                <center><span class="formcol-2a formcol-room" style="color:#000">Blue Room</span>
                                </center>
                                <center><span class="formcol-2b formcol-gym" style="color:#000">HAMILTON</span></center>
                            </div>
                            <div class="col-sm-3 col-xs-4 formcol-height">
                                <center><span class="formcol-3" style="color:#000">2 Spots</span></center>
                            </div>
                            <div class="col-sm-3 col-xs-4 formcol-height">
                                <center><span class="formcol-3" style="color:#000">12:30-1:25PM</span></center>
                            </div>
                        </a>
                    </section>
                </div>
                <div class="col-xs-12" style="margin-bottom:20%">
                    <button class="btn btn-danger btn-block btn-lg" data-dismiss="modal"
                            style="margin-top:5%; display:none;">Cancel Reservation
                    </button>
                </div>

            </div>
        </div>
    </div>
    <div class="navbar navbar-fixed-bottom " style="border:0">
        <section class="slide collapse" id="collapse-reserve-modal-equip">
            <div class="container-fluid">
                <a>
                    <div class="col-xs-3 col-xs-offset-9"
                         style="background-color:#333;padding-top: .5em; padding-bottom: .5em; font-size:.5em">
                        <center><span>Multi Select Rows<span></center>
                    </div>
                </a>
            </div>
            <div class="container-fluid">
                <a>
                    <div class="col-xs-6 rowselect"
                         style="background-color:#4db2c7;padding-top: .5em; padding-bottom:.5em;">
                        <center><span>RESERVE ALL<span></center>
                    </div>
                </a>
                <a>
                    <div class="col-xs-6 rowselect"
                         style="background-color:#f00;padding-top: .5em; padding-bottom: .5em;">
                        <center><span>CANCEL ALL<span></center>
                    </div>
                </a>
            </div>
        </section>

        <div class="col-xs-4 navbar-icon">
            <a data-toggle="collapse" href="#collapse-add-time-modal-equip" aria-expanded="false"
               aria-controls="collapse-add-time">
                <center><i class="fa fa-clock-o navbar-text"></i></center>
            </a>
        </div>
        <div class="col-xs-4 navbar-icon">
            <a data-toggle="modal" class="reserve-modal" data-target="#location-modal-equip">
                <center><i class="fa fa-sitemap navbar-text"></i></center>
            </a>
        </div>
        <div class="col-xs-4 navbar-icon">
            <a data-toggle="collapse" href="#collapse-reserve-modal-equip" aria-expanded="false"
               aria-controls="collapse-reserve-modal">
                <center>
                    <i class="fa fa-cogs navbar-text"></i>
                </center>
            </a>
        </div>
    </div>
</div>
</div>
<div class="modal fade" id="location-modal-equip" tabindex="-1" role="dialog" aria-labelledby="Gym" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="col-xs-2" style="margin-bottom:2%">
            </div>
            <div class="col-xs-8" style="margin-bottom:2%">
                <center><span class="modal-title">Gyms</span><br/></center>
            </div>
            <div class="col-xs-2">
                <center style="margin-bottom:2em"><a data-dismiss="modal" class="modal-reserve-button"><i
                                class="fa fa-times"></i></a></center>
            </div>

            <div class="col-sm-6 col-sm-offset-3 location-gyms" style="margin-top:4em">
                <center><span class="modal-title">HAMILTON</span></center>
            </div>

            <div class="col-sm-6 col-sm-offset-3 location-gyms">
                <center><span class="modal-title">HAMILTON</span></center>
            </div>

            <div class="col-sm-6 col-sm-offset-3 location-gyms">
                <center><span class="modal-title">HAMILTON</span></center>
            </div>

            <div class="col-sm-6 col-sm-offset-3 location-gyms">
                <center><span class="modal-title">HAMILTON</span></center>
            </div>

            <div class="col-sm-6 col-sm-offset-3 location-gyms">
                <center><span class="modal-title">HAMILTON</span></center>
            </div>
        </div>
    </div>
</div>

<!-- /Reserve Modal -->

<!-- Share Modal -->

<div class="modal fade" id="share-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="col-xs-2" style="margin-bottom:2%">
            </div>
            <div class="col-xs-8" style="margin-bottom:2%">
                <center><span class="modal-title">SHARE</span><br/></center>
            </div>
            <div class="col-xs-2">
                <center style="margin-bottom:2em"><a data-dismiss="modal" class="modal-reserve-button"><i
                                class="fa fa-times"></i></a></center>
            </div>
            <div class="col-xs-12">
                <center style="font-size:1.5em">Share this class</center>
            </div>

            <div class="container" style="border-top:1px #fff solid; border-bottom:1px #fff solid; margin-top:11em">
                <div class="row" style="margin-top:3em">
                    <center><span style="font-size:2em">Treadmill 27<br/><br/></span></center>
                </div>
                <div class="row">
                    <center style="font-size:1.5em"><span>Blue Room</span> | <span>HAMILTON</span><br/></center>
                </div>
                <div class="row" style="margin-bottom:3em">
                    <center style="font-size:1.5em"><span>FRI 10/10 | 12:30-1:25PM</span></center>
                </div>
            </div>

            <div class="container" style="margin-top:3em">
                <div class="col-xs-12" style="font-size:3em">
                    <div class="col-xs-1 col-xs-offset-3">
                        <center style="color:#4db2c7"><i class="fa fa-envelope-square"></i></center>
                    </div>
                    <div class="col-xs-1">
                        <center style="color:#4db2c7"><i class="fa fa-facebook-square"></i></center>
                    </div>
                    <div class="col-xs-1">
                        <center style="color:#4db2c7"><i class="fa fa-pinterest-square"></i></center>
                    </div>
                    <div class="col-xs-1">
                        <center style="color:#4db2c7"><i class="fa fa-linkedin-square"></i></center>
                    </div>
                    <div class="col-xs-1">
                        <center style="color:#4db2c7"><i class="fa fa-google-plus-square"></i></center>
                    </div>
                    <div class="col-xs-1">
                        <center style="color:#4db2c7"><i class="fa fa-twitter-square"></i></center>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- /Share Modal -->

<!--Search Modal -->

<div class="modal fade" id="search-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="container">
                <form role="form" style="margin-top:2em">
                    <div class="formframe form-group col-xs-8 col-xs-offset-1">
                        <input type="search" class="form-control" id="InputName" placeholder="Search">
                    </div>
                    <div class="col-xs-2">
                        <button data-dismiss="modal" style="color:#299eb6; background:none; border:none; height:2.2em">
                            <span class="hidden-xs" class="btn-search">CLOSE</span>
                            <span class="visible-xs" style="color:#fff"><i class="fa fa-times"></i></span>
                        </button>
                    </div>
                </form>
            </div>
            <div class="container" style="margin-top:4em">
                <center style="margin-bottom:2em"><span class="searchtitle">SEARCH UPACE</span><br/><br/>
                    <span class="searchtext" style="margin-top:1.5em">Find your favorite class, exercise,<br/>
                        equipment, gym location, and time.</span>
                </center>
            </div>
        </div>
    </div>
</div>

<!--/Search Modal-->

<!-- Settings Modal -->
<div class="modal fade" id="settings-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">

<div class="col-xs-2" style="margin-bottom:2%">
</div>
<div class="col-xs-8" style="margin-bottom:2%">
    <center><span class="modal-title">Settings</span><br/></center>
</div>
<div class="col-xs-2">
    <center style="margin-bottom:2em"><a data-dismiss="modal" class="modal-reserve-button"><i
                    class="fa fa-times"></i></a></center>
</div>

<!-- Content -->
<div class="container">
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false" style="margin-top:5em">
<!-- Profile-->

<div class="panel panel-default panel-bg">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true"
       aria-controls="collapseOne">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                Profile
            </h4>
        </div>
    </a>

    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
            <form id="profilechange-form">
                <input type="text" name="firstname" class="form-control" placeholder="First Name">
                <input type="text" name="lastname" class="form-control" placeholder="Last Name">
                <input type="email" name="email" class="form-control" placeholder="Email">
                <input type="text" name="phone" class="form-control" placeholder="Phone">
                <!-- Frequency -->
                <div class="formframe form-group container-fluid">
                    <div class="radioformset" style="margin-bottom:10px" id="accordion" role="tablist"
                         aria-multiselectable="false">
                        <div id="radioformset" style="background-color:#000">
                            <a data-toggle="collapse" href="#collapseFrequency" aria-expanded="false"
                               aria-controls="collapseFrequency">
                                <div class="radioform" style="height:54px" role="tab" name="gymFrequency"
                                     id="inputGfrequency headingOne">
                                    <label style="cursor: pointer;"><span class="group-label" name="gymFrequency">Gym Frequency</span></label>
                                </div>
                            </a>

                            <div id="collapseFrequency" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    <div id="radioformset">
                                        <div class="col-xs-12">
                                            <label class="radioform">
                                                <input type="radio" data-label="Never" value="never" name="gymFrequency"
                                                       style="height:54px;">
                                                <span>Never</span></input>
                                            </label>
                                        </div>
                                        <div class="col-xs-12">
                                            <label class="radioform">
                                                <input type="radio" value="sometimes" name="gymFrequency"
                                                       data-label="Sometimes">
                                                <span>Sometimes</span></input>
                                            </label>
                                        </div>
                                        <div class="col-xs-12">
                                            <label class="radioform">
                                                <input type="radio" data-label="Weekly" name="gymFrequency"
                                                       value="weekly">
                                                <span>Weekly</span></input>
                                            </label>
                                        </div>
                                        <div class="col-xs-12">
                                            <label class="radioform">
                                                <input name="gymFrequency" type="radio" data-label="Daily"
                                                       value="daily">
                                                <span>Daily</span></input>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- /Frequency -->

                <!-- University -->
                <div class="accordion container-fluid" id="accordion1">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1"
                               href="#collapseUniversity">
                                <div id="radioformset">
                                    <label class="radioform" name="university">
                                        <input type="radio" style="height:54px;" data-label="Undergraduate">
                                        <span class="group-label">University</span>
                                        </input>
                                    </label>
                                </div>
                            </a>
                        </div>
                        <div id="collapseUniversity" class="accordion-body collapse col-xs-12">
                            <div class="accordion-inner">
                                <!-- Here we insert another nested accordion -->

                                <div class="accordion" id="accordion2">
                                    <div class="accordion-group">
                                        <div class="accordion-heading">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
                                               href="#collapseInnerUniversity">
                                                <div id="radioformset">
                                                    <label class="radioform">
                                                        <input type="radio" style="height:54px;">
                                                        <span name="">American University </span>
                                                        </input>
                                                    </label>
                                                </div>
                                            </a>
                                        </div>
                                        <div id="collapseInnerUniversity" class="accordion-body collapse col-xs-12">
                                            <div class="accordion-inner">
                                                <div id="radioformset">
                                                    <label class="radioform">
                                                        <input type="radio" name="university" value="hamilton"
                                                               style="height:54px;"
                                                               data-label="American University  Hamilton">
                                                        <span>Hamilton</span>
                                                        </input>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="accordion-inner">
                                                <div id="radioformset">
                                                    <label class="radioform">
                                                        <input type="radio" name="university" value="avocado"
                                                               style="height:54px;"
                                                               data-label="American University  Avocado">
                                                        <span>Avocado</span>
                                                        </input>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="accordion-inner">
                                                <div id="radioformset">
                                                    <label class="radioform">
                                                        <input type="radio" name="university" value="banana"
                                                               style="height:54px;"
                                                               data-label="American University  Banana">
                                                        <span>Banana</span>
                                                        </input>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <!-- Inner accordion ends here -->

                            </div>
                        </div>
                    </div>
                </div>
                <!-- University -->

                <!-- Gender -->

                <div id="radioformset" class="row">
                    <div class="col-xs-6" style="padding-right:2px">
                        <label class="radioform">
                            <input type="radio" name="sex" value="male">
                            <span>Male</span></input>
                        </label>
                    </div>
                    <div class="col-xs-6" style="padding-left:2px">
                        <label class="radioform">
                            <input type="radio" name="sex" value="female">
                            <span>Female</span></input>
                        </label>
                    </div>
                </div>
                <!-- /Gender -->


                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12">
                            <button class="btn btn-danger btn-lg btn-block" type="submit">
                                SAVE CHANGES
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- /Profile -->
<!-- Password -->

<div class="panel panel-default panel-bg">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true"
       aria-controls="collapseTwo">
        <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
                Password
            </h4>
        </div>
    </a>

    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
            <form id="passwordchange-form">
                <input type="password" name="oldpassword" class="form-control" placeholder="Old Password">
                <input type="password" name="password" class="form-control" placeholder="New Password">
                <input type="password" name="retypepassword" class="form-control" placeholder="Retype Password">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12">
                            <button class="btn btn-danger btn-lg btn-block" type="submit">
                                SAVE CHANGES
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- /Password -->

<!-- /Profile -->

<!-- Terms -->
<div class="panel panel-default panel-bg">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true"
       aria-controls="collapseThree">
        <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
                Terms & Privacy Policy
            </h4>
        </div>
    </a>

    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
            {{ source('./partials/terms_mobile.html') }}
            {{ source('./partials/privacy_mobile.html') }}
        </div>
    </div>
</div>
<!-- /Terms -->

<!-- Notification -->

<div class="panel panel-default panel-bg">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true"
       aria-controls="collapseFour">
        <div class="panel-heading" role="tab" id="headingFour">
            <h4 class="panel-title">
                Notifications
            </h4>
        </div>
    </a>

    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
        <div class="panel-body">
            <form id="notificationchange-form">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-9 notification">
                            Class Reminder
                        </div>
                        <div class="col-xs-3 notification" style="text-align:right;">
                            <input type="checkbox" name="class_noti" class="settings-notifications">
                        </div>
                        <div class="col-xs-9 notification">
                            Daily Exercise Reminder
                        </div>
                        <div class="col-xs-3 notification" style="text-align:right;">
                            <input type="checkbox" name="daily_exercise" class="settings-notifications">
                        </div>
                        <div class="col-xs-9 notification">
                            General Notifications
                        </div>
                        <div class="col-xs-3 notification" style="text-align:right;">
                            <input type="checkbox" name="general_noti" class="settings-notifications">
                        </div>
                        <div class="col-xs-9 notification">
                            Send to me via Email
                        </div>
                        <div class="col-xs-3 notification" style="text-align:right;">
                            <input type="checkbox" name="via_email" class="settings-notifications">
                        </div>
                        <div class="col-xs-9 notification">
                            Send to me via Text
                        </div>
                        <div class="col-xs-3 notification" style="text-align:right;">
                            <input type="checkbox" name="via_text" class="settings-notifications">
                        </div>
                        <!--<div class="col-xs-9 notification">
                          Favorite Classes
                        </div>
                        <div class="col-xs-3 notification" style="text-align:right;">
                          <input type="checkbox" name="favclass" class="settings-notifications" checked>
                        </div>-->
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-12">
                                    <button class="btn btn-danger btn-lg btn-block" type="submit">
                                        SAVE CHANGES
                                    </button>
                                </div>
                            </div>
                        </div>
            </form>

        </div>
    </div>
</div>
</div>
</div>

<!-- /Notification -->
<!-- Support -->

<div class="panel panel-default panel-bg">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true"
       aria-controls="collapseFive">
        <div class="panel-heading" role="tab" id="headingFive">
            <h4 class="panel-title">
                Support
            </h4>
        </div>
    </a>

    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
        <div class="panel-body">
            <h2 style="font-size:2em;margin-top:1em">Need assistance?</h2>

            <h2 style="font-size:2em">Contact us at</h2>
            <a href="mailto:info@upaceapp.com" style="color:#299eb6;"><h2 style="font-size:2em">info@upaceapp.com</h2>
            </a>
        </div>
    </div>
</div>

<!-- /Support -->
</div>
</div>
<!-- /Content -->
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-danger btn-lg btn-block" type="submit" style="margin-top:5%">
                LOGOUT
            </button>
        </div>
    </div>
</div>

</div>

<!-- /Settings Modal -->

{% endblock content %}

{% block extra_footer_js %}
<script src="{{ site.js_path }}/date-scroller.js"></script>
<script src="{{ site.js_path }}/equipment.js"></script>
{% endblock extra_footer_js %}
